.image {
  width: 600px;
  margin-top: 85px;
}
.btns i {
  cursor: pointer;
}
thead {
  border: 1px solid #ddd;
}
tbody {
  border: 1px solid #999;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
}
@media (max-width: 575px) {
  .footer {
    bottom: -225 !important;
  }
}
@media (max-width: 646px) {
  .footer {
    bottom: -215px;
  }
}
